{% extends "base.html" %}
{% load static %}

{% block content %}
<!-- title and image -->
<div
class="flex flex-col gap-y-4 md:flex-row md:max-w-full mx-2 md:mx-4 mt-2 md:mt-4 bg-[#cae7f5] text-gray-500 rounded-t shadow overflow-hidden">
<div class="flex-1 flex flex-col p-4 md:p-10 gap-4 justify-center items-center">
  <h2 class="text-blue-900 font-semibold text-2xl sm:text-3xl">فورم ثبت مالک جدید</h2>
  <p class="text-blue-800 leading-7 text-justify md:text-center ">این فرم برای ثبت مالک جدید طراحی
    شده است. با استفاده از این فرم، می‌توانید به صورت سریع و آسان مالکان جدید را به سیستم اضافه نمایید. </p>
</div>
<div class="flex-1 flex justify-center px-4 py-8">
  <img src="{% static "media/owner-driver.png" %}" alt="driver image" class="max-w-full max-h-full object-cover">
</div>
</div>
<!-- form -->
<form action="" method="POST" enctype="multipart/form-data"
class="max-w-full mb-2 md:mb-4 mx-2 md:mx-4 bg-[#eaf5fb] px-4 md:px-4 lg:px-6 xl:px-8 pt-4 pb-6 rounded-b text-blue-800 text-[13px]">
<!-- create account -->
{% csrf_token %}
<h3 class="flex gap-2 items-center justify-center md:justify-start text-sm font-semibold mb-5 mt-2 mr-2">
  <i class="fa-regular fa-user text-red-400 font-bold"></i>
  <span>ایجاد حساب</span>
</h3>
<div
  class="grid sm:grid-cols-[1fr,1fr] lg:grid-cols-[1fr,1fr,1fr] gap-y-2 md:gap-y-4 sm:gap-x-6 md:gap-x-8 pb-8 border-b border-color-secondary">
  <div class="flex flex-col gap-2">
    <label for="" class="mr-2">نمبر تذکره</label>
    <!-- <input type="number" class="myinput" /> -->
    {{ form.username }}
  </div>

  <div class="flex flex-col gap-2">
    <label for="" class="mr-2">رمز عبور</label>
    {% comment %} <input type="password" class="myinput" /> {% endcomment %}
    {{ form.password1 }}
  </div>

  <div class="flex flex-col gap-2">
    <label for="" class="mr-2">تایید رمز عبور</label>
    {% comment %} <input type="password" class="myinput" /> {% endcomment %}
    {{ form.password2 }}
  </div>
</div>
<!-- personal Info -->
<h3 class="flex gap-2 items-center justify-center md:justify-start text-sm font-semibold mb-5 mt-6 mr-2">
  <i class="fa-solid fa-id-card text-red-400 font-bold"></i>
  <span>مشخصات مالک</span>
</h3>

<div class="grid sm:grid-cols-[1fr,1fr] lg:grid-cols-[1fr,1fr,1fr] gap-y-2 md:gap-y-4 sm:gap-x-6 md:gap-x-8 ">
  <div class="flex flex-col gap-2">
    <label for="" class="mr-2">نام</label>
    <input type="text" class="myinput" name="first_name" required/>
  </div>

  <div class="flex flex-col gap-2">
    <label for="" class="mr-2">تخلص</label>
    <input type="text" class="myinput" name="last_name"/>
  </div>

  <div class="flex flex-col gap-2">
    <label for="" class="mr-2">نام پدر</label>
    <input type="text" class="myinput" name="father_name" required/>
  </div>

  <div class="flex flex-col gap-2">
    <label for="" class="mr-2">جنسیت</label>
    <select name="gender" id="" class="myinput text-center">
      <option value="آقا">آقا</option>
      <option value="خانم">خانم</option>
    </select>
  </div>

  <div class="flex flex-col gap-2">
    <label for="" class="mr-2">شماره تماس</label>
    <input type="text" class="myinput" name="phone_number" required/>
  </div>

  <div class="text-justify">
    <span class="text-red-500 text-lg">*</span>
    <span class="font-semibold">نوت:</span>
    <span>اگر مالک همچنین یک راننده است، لطفاً مطمئن شوید که فیلدهای "لایسنس نمبر" و "گروپ خون" را پر
      کنید.</span>
  </div>

  <div class="flex flex-col gap-2">
    <label for="" class="mr-2">نمبر لایسنس</label>
    <input type="text" class="myinput" name="licence_num"/>
  </div>

  <div class="flex flex-col gap-2">
    <label for="" class="mr-2">گروپ خون</label>
    <input type="text" class="myinput" name="blood_group"/>
  </div>
</div>
<!-- profile and tazkira photo -->
<div
  class="mt-2 grid sm:grid-cols-[1fr,1fr] lg:grid-cols-[1fr,1fr,1fr] gap-y-2 md:gap-y-4 sm:gap-x-6 md:gap-x-8 text-[13px]">
  <!-- profile -->
  <div class="max-w-full px-8 md:px-6 pb-4 bg-gray-50 rounded shadow-sm text-gray-600 mt-4">
    <h3 class="text-sm font-semibold text-blue-900 pt-3 pb-1.5">عکس پروفایل</h3>
    <!-- choose photo -->
    <label for="profilePhoto" class="flex items-center gap-3 cursor-pointer my-2">
      <span>
        <i class="fa-solid fa-paperclip text-2xl"></i>
      </span>
      <div class="flex flex-col gap-0.5">
        <span class="text-xs font-semibold text-gray-500">انتخاب عکس</span>
        <span id="profileFileName" class="text-xs text-gray-500">هیچ عکسی انتخاب نشده</span>
      </div>
      <input type="file" id="profilePhoto" accept="image/*" class="hidden" name="image"
        onchange="updateProfileFileName(this);">
    </label>
  </div>
  <!-- tazkira -->
  <div class="max-w-full px-8 md:px-6 pb-4 bg-gray-50 rounded shadow-sm text-gray-600 mt-4">
    <h3 class="text-sm font-semibold text-blue-900 pt-3 pb-1.5">عکس تذکره</h3>
    <!-- choose photo -->
    <label for="tazkiraPhoto" class="flex items-center gap-3 cursor-pointer my-2">
      <span>
        <i class="fa-solid fa-paperclip text-2xl"></i>
      </span>
      <div class="flex flex-col gap-0.5">
        <span class="text-xs font-semibold text-gray-500">انتخاب عکس</span>
        <span id="tazkiraFileName" class="text-xs text-gray-500">هیچ عکسی انتخاب نشده</span>
      </div>
      <input type="file" id="tazkiraPhoto" accept="image/*" class="hidden" name="id_image_front"
        onchange="updateTazkiraFileName(this);">
    </label>
  </div>
</div>
<!-- address -->
<div class="mt-4 md:mt-10">
  <div class="flex items-center gap-3 pr-2">
    <span class="text-red-500"><i class="fa-solid fa-location-dot"></i></span>
    <span class="text-sm font-semibold text-blue-800">آدرس مالک</span>
  </div>

  <div
    class="mt-4 grid sm:grid-cols-[1fr,1fr] lg:grid-cols-[1fr,1fr,1fr] gap-y-2 md:gap-y-4 sm:gap-x-6 md:gap-x-8 ">
    <div class="flex flex-col gap-2">
      <label for="" class="mr-2">سکونت فعلی</label>
      <input type="text" class="myinput" name="current_address"/>
    </div>

    <div class="flex flex-col gap-2">
      <label for="" class="mr-2">سکونت اصلی</label>
      <input type="text" class="myinput" name="main_address"/>
    </div>

  </div>
</div>
<!-- submit -->
<div class="flex items-center justify-center md:justify-end mt-6">
  <input type="submit" value="ثبت اطلاعات"
    class="w-32 sm:w-36 h-8 text-white text-[13px] rounded cursor-pointer outline-none bg-blue-500 hover:bg-blue-700 ease-in duration-200">
</div>
</form>
</section>
{% endblock content %}

{% block jscript %}
<script>
  // *************************************************
  // *************** file name **********************
  function updateTazkiraFileName(input) {
    const fileNameElement = document.getElementById('tazkiraFileName');
    fileNameElement.textContent = input.files[0] ? input.files[0].name : 'هیچ عکسی انتخاب نشده';
  }
  function updateProfileFileName(input) {
    const fileNameElement = document.getElementById('profileFileName');
    fileNameElement.textContent = input.files[0] ? input.files[0].name : 'هیچ عکسی انتخاب نشده';
  }
</script>
{% endblock jscript %}