{% extends 'base.html' %}

{% block content %}
<div class="w-full pt-4 pl-3 pb-4 pr-3 md:pt-10 md:pr-16 md:pb-6 md:pl-20">
  <!-- first form -->
  <div id="first-form" class="max-w-sm mx-auto bg-white  rounded-md shadow-md overflow-hidden">
    <h1 class="form-heading">ایجاد راننده جدید</h1>

    <form action="" class="flex flex-col gap-4 py-7 px-5 md:px-6 text-sm text-gray-600" method='POST'>
      {% csrf_token %}
      <div class="flex flex-col gap-2">
        <label for="" class="mr-2">نمبر تذکره</label>
        {{ form.username }}
      </div>
      <div class="flex flex-col gap-2">
        <label for="" class="mr-2">رمز عبور</label>

        {{ form.password1 }}
      </div>

      <div class="flex flex-col gap-2">
        <label for="" class="mr-2">تایید رمز عبور</label>
        {{ form.password2 }}
      </div>

      <div class="flex items-center justify-between mt-4">
        <div class="pr-2">
          {{ form.is_active }}
          <label for="myCheckbox">فعال</label>
        </div>
        <input type="submit" value="بعدی" class="form-submit-btn">
      </div>
    </form>
  </div>
</div>
</section>
{% endblock content %}