{% extends 'base.html' %}
{% load static %}

{% block content %}


    <!-- search box and table -->
    <div class="w-full pt-4 pl-3 pb-4 pr-3 md:pt-10 md:pr-16 md:pb-6 md:pl-20">
      <!-- search and button -->
      <div class="flex flex-col gap-2 md:flex-row md:items-center md:justify-between mb-2 md:mb-4">
          <!-- search -->
          <form action="" class="w-full md:w-72 flex" method='get'>
            <div class="relative flex-grow">
              <input type="text" placeholder="جستجو" name='search_text' value="{{ search_text }}"
                class="h-9 w-full shadow-sm rounded-r-md outline-none pr-10  text-gray-600 text-sm" />
              <i class="fa-solid fa-magnifying-glass absolute right-4 top-3 text-gray-300"></i>
            </div>
            <input type="submit" value="جستجو" class="h-9 w-24 text-white shadow-md rounded-l-md bg-color-primary cursor-pointer hover:bg-color-primary-lighter ease-in duration-200 tracking-wide">
          </form>
          <!-- btn -->

        <a href="{% url "create-staff-user" %}">
          <button
            class="h-9 w-full md:w-44 text-sm text-white shadow-sm rounded-md bg-color-primary cursor-pointer hover:bg-color-primary-lighter ease-in duration-200 tracking-wide">
            ایجاد کارمند جدید
          </button>
        </a>
      </div>
      <!-- Table -->
      <table class="w-full bg-white text-right shadow-md text-sm">
        <thead class="text-sm font-semibold text-color-primary">
          
            <tr class="h-10 border-b-2">
            <th class="w-12 text-center text-lg hidden md:table-cell">#</th>
            <th class="border-r-2 pr-4 w-16">عکس</th>
            <th class="border-r-2 pr-4 w-44">نام</th>
            <th class="border-r-2 pr-4 w-44">تخلص</th>
            <th class="border-r-2 pr-4 hidden md:table-cell">ایمیل آدرس</th>
            <th id="tazkira-column" class="border-r-2 pr-4 md:w-72">
              نمبر تذکره
            </th>
          </tr>
        </thead>

        <tbody>
            {% for staff in staff_list %}
            <tr class="mytable-row" onclick="window.open('{% url "staff-detail" staff.id %}', '_self');">
            <td class="text-center text-lg hidden md:table-cell">{{ forloop.counter }}</td>
            <td class="border-r-2">
              <div class="flex justify-center">
                <img src="{{ staff.avatar.url }}" alt="my image" class="w-9 h-9 rounded-full" />
            </td>
            <td class="border-r-2 pr-2 md:pr-4 pl-2">{{ staff.first_name }}</td>
            <td class="border-r-2 pr-2 md:pr-4 pl-2">{{staff.last_name}}</td>
            <td class="border-r-2 pr-4 pl-2 hidden md:table-cell">{{ staff.email }}</td>
            <td class="border-r-2 pr-2 md:pr-4 pl-2">
              {{ staff.tazkira_num}}
            </td>
          </tr>
          {% endfor %}

          
        </tbody>
      </table>
      <!-- Pagination -->
     {% include "paginations.html" with queryset=staff_list %}
    </div>
  </section>
{% endblock content %}