{% extends 'base.html' %}

{% block content %}
    <h1>Reset your password</h1>
    {% if validlink %}
        <p>Please enter your new password twice:</p>
        <form action="" method='POST'>
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value='submit'>
        </form>
    {% else %}
        <p>The password reset link was invalid, possibly because it has been used already. Please
            request for password reset once again.
        </p>
    {% endif %}
{% endblock content %}