{% extends 'base.html' %}
{% comment %} 
{% block content %}
    <h1>Use this form to change your password</h1>
    <form action="" method='POST'>
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value='Change'>
    </form>
{% endblock content %} {% endcomment %}


{% block content %}
    <!-- div that contains forms -->
    <div class="w-full pt-4 pl-3 pb-4 pr-3 md:pt-10 md:pr-16 md:pb-6 md:pl-20">
        <!-- form -->
        <div id="first-form" class="max-w-sm mx-auto bg-white  rounded-md shadow-md overflow-hidden">
          <h1 class="form-heading">تبدیل رمز عبور</h1>

          <form action="" class="flex flex-col gap-4 py-7 px-5 md:px-6 text-sm text-gray-600" method='POST'>
            {% csrf_token %}

            <div class="flex flex-col gap-2">
              <label for="" class="mr-2">رمز عبور فعلی</label>
              <!-- input -->
              <div class="relative">
                
                {{ form.old_password }}
                <!-- eye -->
                <div id="current-pass-eye" class="eye">
                  <i class="fa-solid fa-eye"></i>
                </div>
                <!-- eyeslash -->
                <div id="current-pass-eyeslash" class="hidden eye">
                  <i class="fa-solid fa-eye-slash"></i>
                </div>
              </div>
            </div>

            <div class="flex flex-col gap-2">
              <label for="" class="mr-2">رمز عبور جدید</label>
              <!-- input -->
              <div class="relative">
                
                <!-- eye -->
                {{ form.new_password1 }}
                <div id="new-pass-eye" class="eye">
                  <i class="fa-solid fa-eye"></i>
                </div>
                <!-- eyeslash -->
                <div id="new-pass-eyeslash" class="hidden eye">
                  <i class="fa-solid fa-eye-slash"></i>
                </div>
              </div>
            </div>

            <div class="flex flex-col gap-2">
              <label for="" class="mr-2">تایید رمز عبور جدید</label>
              <!-- input -->
              <div class="relative">
                
                {{ form.new_password2 }}
                <!-- eye -->
                <div id="confirm-pass-eye" class="eye">
                  <i class="fa-solid fa-eye"></i>
                </div>
                <!-- eyeslash -->
                <div id="confirm-pass-eyeslash" class="hidden eye">
                  <i class="fa-solid fa-eye-slash"></i>
                </div>
              </div>
            </div>

            <div class="flex items-center justify-end mt-4">
              <input type="submit" value="تایید" class="form-submit-btn">
            </div>
          </form>
        </div>
      </div>

    </section>

{% endblock content %}
{% block jscript %}
<script src="./adminScript.js"></script>
<script>
  // ***************************************
  // **********current password ************
  const current_pass_input = document.getElementById('current-pass-input');
  const current_pass_eye = document.getElementById('current-pass-eye');
  const current_pass_eyeslash = document.getElementById('current-pass-eyeslash');

  current_pass_eye.addEventListener("click", function () {
    current_pass_input.type = "text";
    current_pass_eye.classList.toggle("hidden")
    current_pass_eyeslash.classList.toggle("hidden");
  });

  current_pass_eyeslash.addEventListener("click", function () {
    current_pass_input.type = "password";
    current_pass_eye.classList.toggle("hidden");
    current_pass_eyeslash.classList.toggle("hidden");
  });

  // ***************************************
  // **********New password ************
  const new_pass_input = document.getElementById('new-pass-input');
  const new_pass_eye = document.getElementById('new-pass-eye');
  const new_pass_eyeslash = document.getElementById('new-pass-eyeslash');

  new_pass_eye.addEventListener("click", function () {
    new_pass_input.type = "text";
    new_pass_eye.classList.toggle("hidden")
    new_pass_eyeslash.classList.toggle("hidden");
  });

  new_pass_eyeslash.addEventListener("click", function () {
    new_pass_input.type = "password";
    new_pass_eye.classList.toggle("hidden");
    new_pass_eyeslash.classList.toggle("hidden");
  });

  // ***************************************
  // **********New password ************
  const confirm_pass_input = document.getElementById('confirm-pass-input');
  const confirm_pass_eye = document.getElementById('confirm-pass-eye');
  const confirm_pass_eyeslash = document.getElementById('confirm-pass-eyeslash');

  confirm_pass_eye.addEventListener("click", function () {
    confirm_pass_input.type = "text";
    confirm_pass_eye.classList.toggle("hidden")
    confirm_pass_eyeslash.classList.toggle("hidden");
  });

  confirm_pass_eyeslash.addEventListener("click", function () {
    confirm_pass_input.type = "password";
    confirm_pass_eye.classList.toggle("hidden");
    confirm_pass_eyeslash.classList.toggle("hidden");
  });
</script>
{% endblock jscript %}
