{% comment %} {% extends 'base.html' %}

{% block content %}
    <h1>Reset your password</h1>
    {% if validlink %}
        <p>Please enter your new password twice:</p>
        <form action="" method='POST'>
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value='submit'>
        </form>
    {% else %}
        <p>The password reset link was invalid, possibly because it has been used already. Please
            request for password reset once again.
        </p>
    {% endif %}
{% endblock content %} {% endcomment %}

<!DOCTYPE html>
{% load static %}
<html lang="fa" dir="rtl">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>TCMS | resetpassword 3</title>
  <link rel="stylesheet" href="{% static 'css/output.css' %}" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body class="bg-gray-200 font-IRANSans p-4">
  <!-- Reset your password form -->
  <div class="center-div w-full p-6 bg-white text-gray-600 rounded-lg shadow sm:max-w-md sm:p-8">
    <h2 class="mb-1 text-lg text-color-primary text-center font-semibold leading-tight">
      ایجاد رمز عبور جدید
    </h2>
    <form class="mt-4 space-y-4 lg:mt-5 md:space-y-5" action="" method="POST">
        {% csrf_token %}
      <div class="mt-2 mb-4 text-[13px] font-normal leading-5">
        رمز عبور جدید شما باید با رمزهای عبور قبلی متفاوت باشد.
      </div>
      <div>
        <label for="password" class="block mb-2 text-sm font-medium">رمز عبور جدید</label>
        {% comment %} <input type="password" name="password" id="password" placeholder="••••••••"
          class="bg-gray-50 border border-gray-300 outline-none text-gray-900 sm:text-sm tracking-widest rounded-lg focus:border-gray-400 focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5"
          required=""> {% endcomment %}
          {{ form.new_password1 }}
      </div>
      <div>
        <label for="confirm-password" class="block mb-2 text-sm font-medium">تایید رمز عبور جدید</label>
        {% comment %} <input type="password" name="confirm-password" id="confirm-password" placeholder="••••••••"
          class="bg-gray-50 border border-gray-300  outline-none text-gray-900 sm:text-sm tracking-widest rounded-lg focus:border-gray-400 focus:ring-primary-600  block w-full p-2.5"
          required=""> {% endcomment %}
          {{ form.new_password2 }}
      </div>
      <div class="mt-2 mb-4 text-[13px] font-normal leading-5">
        برای بازگشت به صفحه اصلی، <a href="{% url 'login' %}" class="text-blue-600 font-semibold hover:border-b">اینجا</a> کلیک کنید.
      </div>
      <button type="submit"
        class="w-full text-white bg-color-primary hover:bg-color-primary-light focus:ring-4 focus:outline-none focus:ring-primary-300  rounded-lg text-sm px-5 py-2.5 text-center">بازنشانی
        رمز عبور</button>
    </form>
  </div>
  <!-- End Reset your password form -->


  <script></script>
</body>

</html>