{% extends "base.html" %}
{% load static %}
{% block content %}
<!-- title and image -->
<div
class="flex flex-col gap-y-4 md:flex-row md:max-w-full mx-2 md:mx-4 mt-2 md:mt-4 bg-[#cae7f5] text-gray-500 rounded-t shadow overflow-hidden">
<div class="flex-1 flex flex-col p-4 md:p-10 gap-4 justify-center items-center">
  <h2 class="text-blue-900 font-semibold text-2xl sm:text-3xl">فورم ثبت موتر جدید</h2>
  <p class="text-blue-800 leading-7 text-justify md:text-center ">این فرم برای ثبت موتر جدید طراحی
    شده است. با استفاده از این فرم، می‌توانید به صورت سریع و آسان موترهای جدید را به سیستم اضافه نمایید. </p>
</div>
<div class="flex-1 flex justify-center px-4 py-8">
  <img src="{% static "media/car.png" %}" alt="driver image" class="max-w-full max-h-full object-cover">
</div>
</div>
<!-- form -->
<form action="" method="POST"
class="max-w-full mb-2 md:mb-4 mx-2 md:mx-4 bg-[#eaf5fb] px-4 md:px-4 lg:px-6 xl:px-8 pt-4 pb-6 rounded-b">
<!-- div 1 -->
{% csrf_token %}
<div
  class="grid sm:grid-cols-[1fr,1fr] lg:grid-cols-[1fr,1fr,1fr] gap-y-2 md:gap-y-4 sm:gap-x-6 md:gap-x-8 text-blue-800 text-[13px]">
  <div class="flex flex-col gap-2">
    <label for="" class="mr-2">نمبر پلیت</label>
    <!-- <input type="text" class="myinput" /> -->
    {{ form.plate_number }}
  </div>

  <div class="flex flex-col gap-2">
    <label for="" class="mr-2">مودل</label>
    {% comment %} <input type="text" class="myinput" /> {% endcomment %}
    {{ form.model }}
  </div>

  <div class="flex flex-col gap-2">
    <label for="" class="mr-2">رنگ</label>
    {% comment %} <input type="text" class="myinput" /> {% endcomment %}
    {{ form.color }}
  </div>

  <div class="flex flex-col gap-2">
    <label for="" class="mr-2">نوع ماشین</label>
    {% comment %} <input type="text" class="myinput" /> {% endcomment %}
    {{ form.engine_type }}
  </div>

  <div class="flex flex-col gap-2">
    <label for="" class="mr-2">نمبر ماشین</label>
    {% comment %} <input type="text" class="myinput" /> {% endcomment %}
    {{ form.engine_num }}
  </div>

  <div class="flex flex-col gap-2">
    <label for="" class="mr-2">نمبر شاسی</label>
    {% comment %} <input type="text" class="myinput" /> {% endcomment %}
    {{ form.chassis_num }}
  </div>

  <div class="flex flex-col gap-2">
    <label for="" class="mr-2">نوع اشترینگ</label>
    {% comment %} <select name="" class="myinput text-center">
      <option value="راسته">راسته</option>
      <option value="چپه">چپه</option>
    </select> {% endcomment %}
    {{ form.steering }}

  </div>

  <div class="flex flex-col gap-2">
    <label for="" class="mr-2">تعداد سلندر</label>
    {% comment %} <input type="text" class="myinput" /> {% endcomment %}
    {{ form.number_of_cylinder }}

  </div>

  <div class="flex flex-col gap-2">
    <label for="" class="mr-2">وزن مجاز</label>
    {% comment %} <input type="text" class="myinput" /> {% endcomment %}
    {{ form.legal_weight }}

  </div>

  <div class="flex flex-col gap-2">
    <label for="" class="mr-2">وزن بالای اکسل</label>
    {% comment %} <input type="text" class="myinput" /> {% endcomment %}
    {{form.weight_on_axle }}

  </div>

  <div class="flex flex-col gap-2">
    <label for="" class="mr-2">تعداد راکبین</label>
    {% comment %} <input type="text" class="myinput" /> {% endcomment %}
    {{ form.number_of_rider}}

  </div>

</div>

<!-- div submit -->
<div class="flex items-center justify-end mt-6">
  <input type="submit" value="ثبت اطلاعات"
    class="w-32 sm:w-36 h-8 text-white text-[13px] rounded cursor-pointer outline-none bg-blue-500 hover:bg-blue-700 ease-in duration-200">
</div>
</form>
</section>
{% endblock content %}

{% block jscript %}

{% endblock jscript %}

