{% extends "base.html" %}
{% load static %}

{% block content %}
  <!-- title and image -->
<div
class="flex flex-col gap-y-4 md:flex-row md:max-w-full mx-2 md:mx-4 mt-2 md:mt-4 bg-[#cae7f5] text-gray-500 rounded-t shadow overflow-hidden">
<div class="flex-1 flex flex-col p-4 md:p-10 gap-4 justify-center items-center">
  <h2 class="text-blue-900 font-semibold text-2xl sm:text-3xl">فورم ثبت جواز‌‌‌‌سیر جدید</h2>
  <p class="text-blue-800 leading-7 text-justify md:text-center ">این فرم برای ثبت جواز‌‌‌‌سیر جدید طراحی
    شده است. با استفاده از این فرم، می‌توانید به صورت سریع و آسان جواز‌‌‌‌سیر جدید را به سیستم اضافه نمایید.
  </p>
</div>
<div class="flex-1 flex justify-center px-4 py-8">
  <img src="{% static "media/jawazsair.png" %}" alt="driver image" class="max-w-full max-h-full object-cover">
</div>
</div>
<!-- form -->
<form action="" method="POST"
class="max-w-full mb-2 md:mb-4 mx-2 md:mx-4 bg-[#eaf5fb] px-4 md:px-4 lg:px-6 xl:px-8 pt-4 pb-6 rounded-b">
<!-- div 1 -->
{% csrf_token %}
<div
  class="grid sm:grid-cols-[1fr,1fr] lg:grid-cols-[1fr,1fr,1fr] gap-y-2 md:gap-y-4 sm:gap-x-6 md:gap-x-8 text-blue-800 text-[13px]">
  <div class="flex flex-col gap-2">
    <label for="" class="mr-2">نمبر جواز</label>
    {% comment %} <input type="number" class="myinput" /> {% endcomment %}
    {{ form.jawaz_num }}
    {% if form.jawaz_num.errors %}
      <ul>
        {% for error in form.jawaz_num.errors %}
          <li>{{ error }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  </div>

  <div class="flex flex-col gap-2">
    <label for="" class="mr-2">نمبر احصاییه</label>
    {% comment %} <input type="number" class="myinput" /> {% endcomment %}
    {{ form.statistic_num }}
    {% if form.statistic.errors %}
      <ul>
        {% for error in form.statistic.errors %}
          <li>{{ error }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  </div>

  <div class="flex flex-col gap-2">
    <label for="" class="mr-2">نمبر مکتوب</label>
    {% comment %} <input type="number" class="myinput" /> {% endcomment %}
    {{ form.document_num }}
    {% if form.document_num.errors %}
      <ul>
        {% for error in form.document_num.errors %}
          <li>{{ error }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  </div>

  <div class="flex flex-col gap-2">
    <label for="" class="mr-2">تاریخ مکتوب</label>
    {% comment %} <input type="date" class="myinput" /> {% endcomment %}
    {{ form.document_date }}
    {% if form.document_date.errors %}
      <ul>
        {% for error in form.document_date.errors %}
          <li>{{ error }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  </div>

  <div class="flex flex-col gap-2">
    <label for="" class="mr-2">نمبر علم و خبر</label>
    {% comment %} <input type="number" class="myinput" /> {% endcomment %}
    {{ form.news_num }}
    {% if form.news_num.errors %}
      <ul>
        {% for error in form.news_num.errors %}
          <li>{{ error }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  </div>

  <div class="flex flex-col gap-2">
    <label for="" class="mr-2">تاریخ علم و خبر</label>
    {% comment %} <input type="date" class="myinput" /> {% endcomment %}
    {{ form.news_date }}
    {% if form.news_date.errors %}
      <ul>
        {% for error in form.news_date.errors %}
          <li>{{ error }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  </div>

  <div class="flex flex-col gap-2">
    <label for="" class="mr-2">نمبر تعرفه بانک</label>
    {% comment %} <input type="number" class="myinput" /> {% endcomment %}
    {{ form.bank_reg_num }}
    {% if form.bank_reg_num.errors %}
      <ul>
        {% for error in form.bane_reg_num.errors %}
          <li>{{ error }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  </div>

  <div class="flex flex-col gap-2">
    <label for="" class="mr-2">تاریخ تعرفه بانک</label>
    {% comment %} <input type="date" class="myinput" /> {% endcomment %}
    {{ form.bank_reg_date }}
    {% if form.benk_reg_date.errors %}
      <ul>
        {% for error in form.bank_reg_date.errors %}
          <li>{{ error }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  </div>

  <div class="flex flex-col gap-2">
    <label for="" class="mr-2">سایز</label>
    {% comment %} <input type="number" class="myinput" /> {% endcomment %}
    {{ form.size }}
    {% if form.size.errors %}
      <ul>
        {% for error in form.size.errors %}
          <li>{{ error }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  </div>

  <div class="flex flex-col gap-2">
    <label for="" class="mr-2">اطمینانه مستوفیت</label>
    {% comment %} <input type="number" class="myinput" /> {% endcomment %}
    {{ form.rest_assured }}
    {% if form.rest_assured.errors %}
      <ul>
        {% for error in form.rest_assured.errors %}
          <li>{{ error }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  </div>

  <div class="flex flex-col gap-2">
    <label for="" class="mr-2">تاریخ انقضا</label>
    {% comment %} <input type="date" class="myinput" /> {% endcomment %}
    {{ form.expiry_date }}
    {% if form.expiry_date.errors %}
      <ul>
        {% for error in form.expiry_date.errors %}
          <li>{{ error }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  </div>

</div>

<!-- div submit -->
<div class="flex items-center justify-end mt-6">
  <input type="submit" value="ثبت اطلاعات"
    class="w-32 sm:w-36 h-8 text-white text-[13px] rounded cursor-pointer outline-none bg-blue-500 hover:bg-blue-700 ease-in duration-200">
</div>
</form>

</section>
{% endblock content %}

{% block jscript %}

{% endblock jscript %}