{% extends "base.html" %}
{% load static %}

{% block content %}
  <!-- title and image -->
<div
class="flex flex-col gap-y-4 md:flex-row md:max-w-full mx-2 md:mx-4 mt-2 md:mt-4 bg-[#cae7f5] text-gray-500 rounded-t shadow overflow-hidden">
<div class="flex-1 flex flex-col p-4 md:p-10 gap-4 justify-center items-center">
  <h2 class="text-blue-900 font-semibold text-2xl sm:text-3xl">فورم ثبت جواز‌‌‌‌سیر جدید</h2>
  <p class="text-blue-800 leading-7 text-justify md:text-center ">این فرم برای ثبت جواز‌‌‌‌سیر جدید طراحی
    شده است. با استفاده از این فرم، می‌توانید به صورت سریع و آسان جواز‌‌‌‌سیر جدید را به سیستم اضافه نمایید.
  </p>
</div>
<div class="flex-1 flex justify-center px-4 py-8">
  <img src="{% static "media/jawazsair.png" %}" alt="driver image" class="max-w-full max-h-full object-cover">
</div>
</div>
<!-- form -->
<form action="" method="POST" id="jawazForm"
class="max-w-full mb-2 md:mb-4 mx-2 md:mx-4 bg-[#eaf5fb] px-4 md:px-4 lg:px-6 xl:px-8 pt-4 pb-6 rounded-b">
<!-- div 1 -->
{% csrf_token %}
<div
  class="grid sm:grid-cols-[1fr,1fr] lg:grid-cols-[1fr,1fr,1fr] gap-y-2 md:gap-y-4 sm:gap-x-6 md:gap-x-8 text-blue-800 text-[13px]">
  <div class="relative flex flex-col gap-2">
    <label for="" class="mr-2">نمبر جواز</label>
    {% comment %} <input type="number" class="myinput" /> {% endcomment %}
    {{ form.jawaz_num }}
    
  </div>

  <div class="relative flex flex-col gap-2">
    <label for="" class="mr-2">نمبر احصاییه</label>
    {% comment %} <input type="number" class="myinput" /> {% endcomment %}
    {{ form.statistic_num }}
    
  </div>

  <div class="relative flex flex-col gap-2">
    <label for="" class="mr-2">نمبر مکتوب</label>
    {% comment %} <input type="number" class="myinput" /> {% endcomment %}
    {{ form.document_num }}
    
  </div>

  <div class="relative flex flex-col gap-2">
    <label for="" class="mr-2">تاریخ مکتوب</label>
    {% comment %} <input type="date" class="myinput" /> {% endcomment %}
    {{ form.document_date }}
    
  </div>

  <div class="relative flex flex-col gap-2">
    <label for="" class="mr-2">نمبر علم و خبر</label>
    {% comment %} <input type="number" class="myinput" /> {% endcomment %}
    {{ form.news_num }}
    
  </div>

  <div class="relative flex flex-col gap-2">
    <label for="" class="mr-2">تاریخ علم و خبر</label>
    {% comment %} <input type="date" class="myinput" /> {% endcomment %}
    {{ form.news_date }}
    
  </div>

  <div class="relative flex flex-col gap-2">
    <label for="" class="mr-2">نمبر تعرفه بانک</label>
    {% comment %} <input type="number" class="myinput" /> {% endcomment %}
    {{ form.bank_reg_num }}
    
  </div>

  <div class="relative flex flex-col gap-2">
    <label for="" class="mr-2">تاریخ تعرفه بانک</label>
    {% comment %} <input type="date" class="myinput" /> {% endcomment %}
    {{ form.bank_reg_date }}
    
  </div>

  <div class="relative flex flex-col gap-2">
    <label for="" class="mr-2">سایز</label>
    {% comment %} <input type="number" class="myinput" /> {% endcomment %}
    {{ form.size }}
    
  </div>

  <div class="relative flex flex-col gap-2">
    <label for="" class="mr-2">اطمینانه مستوفیت</label>
    {% comment %} <input type="number" class="myinput" /> {% endcomment %}
    {{ form.rest_assured }}
    
  </div>

  <div class="relative flex flex-col gap-2">
    <label for="" class="mr-2">تاریخ انقضا</label>
    {% comment %} <input type="date" class="myinput" /> {% endcomment %}
    {{ form.expiry_date }}
    
  </div>

</div>

<!-- div submit -->
<div class="flex items-center justify-end mt-6">
  <input type="submit" value="ثبت اطلاعات"
    class="w-32 sm:w-36 h-8 text-white text-[13px] rounded cursor-pointer outline-none bg-blue-500 hover:bg-blue-700 ease-in duration-200">
</div>
</form>

</section>
{% endblock content %}

{% block jscript %}
<script src="{% static "js/validationFunctions.js" %}"></script>
<script>
  // ********************************************
  // **************** validate form ************
  const jawazForm = document.getElementById("jawazForm");
  const numberInput = document.querySelectorAll(".numberInput");
  const expiredDate = document.getElementById("expiredDate");
  const pastDate = document.querySelectorAll(".pastDate");
  console.log(pastDate);

  jawazForm.addEventListener("submit", function (event) {
    // Validate numberInput
    for (let i = 0; i < numberInput.length; i++) {
      const input = numberInput[i];

      if (input.value.trim() === "") {
        generateMessage(input, "این فیلد نمی‌تواند خالی باشد.");
        event.preventDefault();
        return;
        break; // Terminate the loop
      } else if (!containsOnlyNumbersAndDash(input)) {
        generateMessage(input, "این فیلد فقط از 0 تا 9 و خط تیره (-) بوده می‌تواند.");
        event.preventDefault();
        return;
        break; // Terminate the loop
      }
    } // end for

    // Validate pastDate
    for (let i = 0; i < pastDate.length; i++) {
      const input = pastDate[i];

      if (input.value.trim() === "") {
        generateMessage(input, "لطفا تاریخ را وارد کنید.");
        event.preventDefault();
        return;
        break; // Terminate the loop
      } else if (isFutureDate(input)) {
        generateMessage(input, "لطفا تاریخ امروز یا گذشته را وارد کنید.");
        event.preventDefault();
        return;
        break; // Terminate the loop
      }
    } // end for

    // Validate expiredDate
    if (expiredDate.value.trim() === "") {
      generateMessage(expiredDate, "لطفا تاریخ انقضا را وارد کنید.");
      event.preventDefault();
      return;
    } else if (!isFutureDate(expiredDate)) {
      generateMessage(expiredDate, "تاریخ انقضا نمی‌تواند مربوط امروز یا گذشته باشد.");
      event.preventDefault();
      return;
    }

  }); //end form event listener
</script>
{% endblock jscript %}