{% extends 'base.html' %}

{% block style %}
<script src="https://js.stripe.com/v3/"></script>

{% endblock style %}

{% block content %}

  <!-- driver detatil -->
      <!-- profile and jawazsair -->
      <div
        class="relative flex flex-col gap-y-4 md:flex-row md:max-w-[960px] mx-2 md:mx-auto mt-2 md:mt-4 pb-6 pt-4 bg-white text-gray-500 rounded-lg shadow">
        {% if request.user.is_staff %}
        <!-- dropdown -->
        <div class="absolute right-6 top-2">
          <button onclick="toggleProfileDropdown()"
            class="inline-block text-gray-500 hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-200 rounded-lg text-sm p-1.5"
            type="button">
            <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor"
              viewBox="0 0 16 3">
              <path
                d="M2 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Zm6.041 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM14 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Z" />
            </svg>
          </button>
          <!-- Dropdown menu -->
          <div id="profile-dropdown"
            class="hidden absolute -right-2 top-10 z-10  list-none bg-white divide-y divide-gray-100 rounded-lg shadow w-36">
            <ul class="py-2 text-xs">
              <li>
                <a href="{% url "cars:update-owner" owner.id %}" class="block px-4 py-2 text-gray-700 hover:bg-gray-100  ">ویرایش</a>
              </li>
              <li>
                <a href="#" onclick="toggleProfileDropdown(); printPage(); return false; " class="block px-4 py-2 text-gray-700 hover:bg-gray-100  ">چاپ اطلاعات</a>
              </li>

              <li>
                <a href="{% url 'password_change' %}" class="block px-4 py-2 text-gray-700 hover:bg-gray-100  ">تبدیل رمز عبور</a>
              </li>
              <li>
                <a href="#" class="block px-4 py-2 text-red-600 hover:bg-gray-100  ">حذف</a>
              </li>
            </ul>
          </div>
        </div>
        {% endif %}
        <!-- profile card -->
        <div class="w-full max-w-md px-4">
          <div class="flex flex-col items-center gap-2 mt-6">
            <div class="w-20 h-20 md:w-24 md:h-24 overflow-hidden rounded-full">
              <img {% if owner.image %} src="{{ owner.image.url }}" {% endif %} alt="Image" class="object-cover">
            </div>
            <div class="flex flex-col gap-1">
              <h2 class="text-xl text-color-primary font-semibold">{{ owner.first_name }} {{ owner.last_name }}</h2>
              <p class="text-sm text-center">نمبر تذکره: <span>{{ owner.tazkira_number }}</span></p>
            </div>
          </div>
          <!-- table and btns-->
          <div class="px-6 mt-4">
            <table class="text-[13px] text-gray-600 w-full">
              <tr class="bg-gray-200  h-7">
                <td class="pr-4 w-36 ">نام</td>
                <td>{{ owner.first_name }}</td>
              </tr>
              <tr class=" h-7">
                <td class="pr-4  ">تخلص</td>
                <td>{{ owner.last_name }}</td>
              </tr>
              <tr class="bg-gray-200 h-7">
                <td class="pr-4  ">نام پدر</td>
                <td>{{ owner.father_name }}</td>
              </tr>
              <tr class=" h-7">
                <td class="pr-4  ">جنسیت</td>
                <td>{{ owner.gender }}</td>
              </tr>
              <tr class="bg-gray-200 h-7">
                <td class="pr-4  ">راننده</td>
                {% if owner.licence_number %}
                <td>بلی</td>
                {% else %}
                <td>نخیر</td>
                {% endif %}
              </tr>
              <tr class=" h-7">
                <td class="pr-4  ">لایسنس نمبر</td>
                {% if owner.licence_number %}
                <td>{{ owner.licence_number }}</td>
                {% else %}
                <td>-</td>
                {% endif %}
              </tr>
              <tr class="bg-gray-200 h-7">
                <td class="pr-4  ">نمبر تذکره</td>
                <td class="text-sm">{{ owner.tazkira_number }}</td>
              </tr>
              <tr class=" h-7">
                <td class="pr-4  ">شماره تماس</td>
                <td>{{ owner.phone_number }}</td>
              </tr>
              <tr class="bg-gray-200 h-7">
                <td class="pr-4  ">آدرس فعلی</td>
                <td>
                  {{ owner.current_address}}
                </td>
              </tr>
              <tr class="pr-4">
                <td class="pr-4  ">سکونت اصلی </td>
                <td>
                  {{ owner.main_address}}
                </td>
              </tr>
            </table>
            <!-- btns -->
            <div class="flex justify-center gap-6 mt-8">
              {% if request.user.is_staff %}
              <button type="button" onclick="window.open('{% url "cars:create-car-with-owner" owner.id %}', '_self');"
                class="text-white bg-color-primary hover:bg-color-primary-lighter focus:ring-4 focus:outline-none focus:ring-red-300 rounded text-sm w-24 py-1 text-center">
                ثبت موتر
              </button>
              <button type="button" onclick="showDeleteNotification()"
                class="text-white bg-red-600 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 rounded text-sm w-24 py-1 text-center">
                حذف
              </button>

              {% endif %}
            </div>
          </div>

        </div>
        <!-- jawazsair-->
        <div class="w-full max-w-[480px]  text-gray-600 md:border-r mt-6 md:mt-0">
          <div class="swiper h-full">
            <div class="swiper-wrapper ">
              <!-- Slides -->
              <!-- slide1 Jawazsair card **** You can loop**** -->
              {% for car in owner.car_set.all %}
              
              <div class="swiper-slide" id="jawaz{{forloop.counter}}"> 
                <div class="px-10 md:pl-12 md:pr-16">
                  <!-- jawaz dropdown -->
                  {% if request.user.is_staff %}
                  <div class="absolute left-10 top-0">
                    <button 
                      class="jawazBtn inline-block text-gray-500 hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-200 rounded-lg text-sm p-1.5"
                      type="button">
                      <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                        viewBox="0 0 16 3">
                        <path
                          d="M2 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Zm6.041 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM14 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Z" />
                      </svg>
                    </button>
                    <!-- Dropdown menu -->
                    <div
                      class="jawazDropdown hidden absolute -left-2 top-9 z-10  list-none bg-white divide-y divide-gray-100 rounded-lg shadow w-36">
                      <ul class="py-2 text-xs">
                        <li>
                          <a href="#" class="block px-4 py-2 text-green-600 hover:bg-gray-100  ">ویرایش جواز سیر</a>
                        </li>
                        <li>
                          <button type="button" onclick="showDeleteNotification()"
                            class="block w-full px-4 py-2 text-red-600 hover:bg-gray-100  ">حذف</button>
                        </li>
                      </ul>
                    </div>
                  </div>
                  {% endif %}
                  <h2 class="mr-2 pb-2 text-lg text-color-primary font-semibold">مشخصات جواز سیر</h2>
                  <table class="w-full text-[13px] border-t-2 border-b-2 border-gray-400">
                    <tr class="border-b h-8">
                      <td class="pr-4 w-36 ">نمبر جواز</td>
                      <td class="text-sm">{{ car.jawazsayr.jawaz_num }}</td>
                    </tr>
                    <tr class="border-b h-8">
                      <td class="pr-4 w-36 ">موتر</td>
                      <td class="text-sm">{{ car.jawazsayr.car.model }}</td>
                    </tr>
                    <tr class="border-b h-8">
                      <td class="pr-4 w-36 ">نمبر احصاییه</td>
                      <td class="text-sm">{{ car.jawazsayr.statistic_num }}</td>
                    </tr>
                    <tr class="border-b h-8">
                      <td class="pr-4 w-36 ">نمبر مکتوب</td>
                      <td class="text-sm">{{ car.jawazsayr.document_num }}</td>
                    </tr>
                    <tr class="border-b h-8">
                      <td class="pr-4 w-36 ">تاریخ مکتوب</td>
                      <td>{{ car.jawazsayr.document_date }} </td>
                    </tr>
                    <tr class="border-b h-8">
                      <td class="pr-4 w-36 ">نمبر علم و خبر</td>
                      <td class="text-sm">{{ car.jawazsayr.news_num }}</td>
                    </tr>
                    <tr class="border-b h-8">
                      <td class="pr-4 w-36 ">تاریخ علم و خبر</td>
                      <td>{{ car.jawazsayr.news_date }}</td>
                    </tr>
                    <tr class="border-b h-8">
                      <td class="pr-4 w-36 ">نمبر تعرفه بانک </td>
                      <td class="text-sm">{{ car.jawazsayr.bank_reg_num }}</td>
                    </tr>
                    <tr class="border-b h-8">
                      <td class="pr-4 w-36 ">تاریخ تعرفه بانک </td>
                      <td>{{ car.jawazsayr.bank_reg_date }}</td>
                    </tr>
                    <tr class="border-b h-8">
                      <td class="pr-4 w-36 ">سایز</td>
                      <td class="text-sm">{{ car.jawazsayr.size }}</td>
                    </tr>
                    <tr class="border-b h-8">
                      <td class="pr-4 w-36 ">اطمینانه مستوفیت</td>
                      <td>{{ car.jawazsayr.rest_assured }}</td>
                    </tr>
                    <tr class="border-b h-8">
                      <td class="pr-4 w-36 "> تایید شده توسط </td>
                      <td> {{ car.jawazsayr.verified_by }}</td>
                    </tr>
                    <tr class="border-b h-8">
                      <td class="pr-4 w-36 ">تاریخ صدور</td>
                      <td> {{ car.jawazsayr.created}}</td>
                    </tr>
                    <tr class="h-8">
                      <td class="pr-4 w-36 ">تاریخ انقضا</td>
                      <td>{{ car.jawazsayr.expiry_date}}   </td>
                    </tr>
                  </table>
                </div>
              </div>
              {% endfor %} 
            </div>
            <!-- If we need pagination -->
            <div class="swiper-pagination"></div>
            <!-- If we need navigation buttons -->
            <div class="swiper-button-prev nav-btn"></div>
            <div class="swiper-button-next nav-btn"></div>
          </div>
          <!-- end swiper -->
        </div>
        <!-- end jawazsair -->
      </div>
      <!-- End profile and jawazsair -->

      {% for car in owner.car_set.all %}
      <!--*************** car and payment 1 *******************-->
      <div id="fine{{ forloop.counter }}"
        class="max-w-md md:max-w-[960px] mx-2 md:mx-auto mt-4 mb-4 md:mb-10 bg-white text-gray-600 rounded-lg shadow overflow-hidden">
        <!-- car name, plateNO -->
        <div
          class="flex flex-col items-center gap-2 md:gap-0 md:flex-row md:justify-between bg-color-primary text-white py-2 md:py-4 px-2 md:px-10">
          <div class="flex gap-x-4 md:gap-x-10 text-lg">
            <span>{{ forloop.counter }}</span>
            <span>{{ car.model }}</span>
            <span>{{ car.plate_number }}</span>
          </div>
          <div class="flex gap-8 py-2 md:py-0">
            <div
              class="flex items-center cursor-pointer text-xs md:text-sm py-1 px-2 rounded hover:bg-color-primary-light ease-in duration-200">
              {% if not car.jawazsayr %}
              {% if request.user.is_staff %}
              <a href="{% url "cars:create-jawaz" car.id %}">افزودن جواز
                سیر</a>
              {% endif %}
              {% endif %}
            </div>
            <!-- car-info-btn: it's for js -->
            <div
              class="car-info-btn flex items-center cursor-pointer text-xs md:text-sm py-1 px-2 rounded hover:bg-color-primary-light ease-in duration-200">
              <span class="ml-2">جزییات موتر</span><i class="fa-solid fa-angle-down inline-block "></i>
            </div>
          </div>
        </div>
        <!-- car info: in the line below car-info class is for js -->
        <div class="car-info max-w-md md:max-w-full px-10 pb-4 border-b hidden">
          <h3 class="my-4 text-lg text-center text-color-primary font-semibold">مشخصات موتر</h3>
          <div class="flex flex-col md:flex-row">
            <table class="text-[13px] text-gray-600 w-full ">
              <tr class="bg-gray-200  h-7">
                <td class="pr-4 w-36 ">مالک</td>
                <td>{{ car.owner }}</td>
              </tr>
              
              <tr class=" h-7">
                <td class="pr-4 w-36 ">نمبر پلیت</td>
                <td>{{ car.plate_number }}</td>
              </tr>
              <tr class="bg-gray-200  h-7">
                <td class="pr-4  ">مودل</td>
                <td>{{ car.model }}</td>
              </tr>
              <tr class="h-7">
                <td class="pr-4  ">وزن مجاز</td>
                <td>{{ car.legal_weight }} کیلوگرام</td>
              </tr>
              <tr class="bg-gray-200  h-7">
                <td class="pr-4  ">تعداد راکبین</td>
                <td>{{ car.number_of_rider }} نفر</td>
              </tr>
              <tr class="h-7">
                <td class="pr-4  ">وزن بالای اکسل</td>
                <td>{{ car.weight_on_axle }}</td>
              </tr>
            </table>

            <table class="text-[13px] text-gray-600 w-full md:mr-10">
              <tr class="bg-gray-200  h-7">
                <td class="pr-4 w-36 ">رنگ</td>
                <td>{{ car.color }}</td>
              </tr>
              <tr class=" h-7">
                <td class="pr-4  ">نوع اشترینگ</td>
                <td>{{ car.steering }}</td>
              </tr>
              <tr class="bg-gray-200  h-7">
                <td class="pr-4 w-36 "> نوع ماشین</td>
                <td>{{ car.engine_type }}</td>
              </tr>
              <tr class=" h-7">
                <td class="pr-4  ">نمبر ماشین</td>
                <td>{{ car.engine_num }}</td>
              </tr>
              <tr class="bg-gray-200  h-7">
                <td class="pr-4  ">نمبر شاسی</td>
                <td>{{ car.chassis_num }}</td>
              </tr>
              <tr class=" h-7">
                <td class="pr-4  ">تعداد سلندر</td>
                <td>{{ car.number_of_cylinder }} سلندر</td>
              </tr>
            </table>
          </div>
          <div class="flex justify-end">
            {% if request.user.is_staff %}
            <a href="{% url "cars:car-detail" car.id %}"
              class="text-white text-xs bg-color-primary hover:bg-color-primary-lighter focus:outline-none rounded w-32 py-1.5 text-center">جزییات
              بیشتر</a>
            {% endif %}
          </div>
        </div>
        <!-- punishment -->
        <form class="px-2 md:px-10 pt-6 relative" action="" method='POST'>

          {% csrf_token %}
          <input type="checkbox" name="" class="masterCheckbox absolute top-10 right-6 md:right-[54px] cursor-pointer">
          <!-- line below: fineTable class is for js -->
          <table class="fineTable">
            <tr class="h-12 text-center text-gray-600 text-[13px] font-semibold border-b border-gray-500">
              <td class="w-10 h-12 flex justify-center items-center">
              </td>
              <td class=" w-72">نوع جریمه</td>
              <td class=" w-32">تاریخ</td>
              <td class="w-32">مقدار جریمه</td>
              <td class=" w-40">جریمه عدم پرداخت</td>
              <td class="w-32">مقدار کُل</td>
              <td class=" w-32">تاریخ انقضا</td>
            </tr>
            {% for crime in car.carcrime_set.all %}
            {% if not crime.paid and not crime.pending %}
            <tr class="h-12 text-center text-gray-600 border-b border-gray-300">
              <td class="w-10 h-12 flex justify-center items-center"><input type="checkbox" value="{{crime.id}}" name="paid_crimes"
                  class=" cursor-pointer">
              </td>
              {% if crime.crime.title %}
              <td class="text-[13px]">{{ crime.crime.title }}</td>
              {% else %}
              <td class="text-[13px]">این جریمه بخاطر تخلف در تاریخ {{crime.created}}از طرف ترافیک وضع گردیده</td>
              {% endif %}
              
              <td>{{ crime.created | date:"Y-m-d"}}</td>
              <td>{{ crime.price | floatformat:0 }}</td>
              <td>{{ crime.expiry_fine | floatformat:0 }}</td>
              <td>{{ crime.get_total | floatformat:0 }}</td>
              <td>{{ crime.expiry_date | date:"Y-m-d"}}</td>
            </tr>
            {% endif %} 
            {% endfor %}
            
          </table>
        </form>
        <div class="flex justify-between mt-10 pb-6 px-2 md:px-10">
          <label class="font-semibold pr-4">مقدار کُل : <span class="total text-lg">00</span></label>
            <button class="text-white bg-color-primary hover:bg-color-primary-lighter focus:ring-4 focus:outline-none rounded text-xs tracking-widest w-36 py-2 text-center cursor-pointer cursor-not-allowed" id="submitBtn{{forloop.counter}}" disabled>پرداخت</button>
        </div>
      

      </div>
      {% endfor %}

    </section>
{% endblock content %}

{% block jscript %}
    
  <!-- *************************************** -->
  <!-- ********* Delete Notification **************** -->
  <!-- Confirm Delete with blur functionality -->
  <div id="confirm-delete-container" class="hidden fixed inset-0 z-50 backdrop-blur-sm p-2">
    <div class="center-div w-full max-w-sm max-h-full bg-white rounded-lg shadow">
      <button type="button" onclick="hideDeleteNotification()"
        class="absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ml-auto inline-flex justify-center items-center">
        <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
        </svg>
      </button>
      <div class="p-6 text-center">
        <svg class="mx-auto mb-2 text-red-400 w-8 h-8" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
          viewBox="0 0 20 20">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M10 11V6m0 8h.01M19 10a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
        </svg>
        <h3 class="mb-4 text-sm font-normal text-gray-500 leading-7">
          آیا مطمئن هستید که میخواهید این مورد را حذف کنید؟
        </h3>
        <form action="{% url 'cars:delete-owner' owner.id %}" method='POST'>
          {% csrf_token %}
          <input type="submit" value="بله مطمئنم"
            class="text-white bg-red-600 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 rounded-lg text-sm inline-flex items-center px-5 py-1 text-center ml-2 cursor-pointer">
          <button type="button" onclick="hideDeleteNotification()"
            class="inline-block w-28 text-gray-500 bg-white hover:bg-gray-100 hover:text-gray-900 focus:ring-4 focus:outline-none focus:ring-gray-200 rounded-lg border border-gray-200 text-sm px-5 py-1 focus:z-10">لغو</button>
        </form>
      </div>
    </div>
  </div>
  <!-- End confirm delete -->


  <script>
    // ****************************************
    // ********* profile details ****************
    const profile_dropdown = document.getElementById("profile-dropdown");
    function toggleProfileDropdown() {
      profile_dropdown.classList.toggle("hidden");
    }
    // ****************************************
    // ********* jawaz details ****************
    {% if request.user.is_staff %}
    function initializeJawaz(divId) {
      const jawazBtn = document.querySelector(`#${divId} .jawazBtn`);
      const jawazDropdown = document.querySelector(`#${divId} .jawazDropdown`);
      jawazBtn.addEventListener("click", function () {
        jawazDropdown.classList.toggle("hidden");
      });
    }

    for (let i = 1; i <= {{num_of_cars}}; i++) {
      initializeJawaz(`jawaz${i}`);
    }
    {% endif %}

    // ****************************************
    // ********* car and fine payemnt*****************
    {% comment %} let para = "owner," + {{ owner.id}} + ','; {% endcomment %}
    
    
    let myPara = ""; 

    function initializeFinePayment(divId,counter) {
      let para = "owner"+ "," +{{owner.id}}+",";
      const carInfo = document.querySelector(`#${divId} .car-info`);
      const carInfoBtn = document.querySelector(`#${divId} .car-info-btn`);
      const masterCheckbox = document.querySelector(`#${divId} .masterCheckbox`);
      const checkboxes = document.querySelectorAll(`#${divId} .fineTable input[type="checkbox"]`);
      // added new 
      const submitBtn = document.getElementById(`submitBtn${counter}`);
      
      

      let sum = 0;

      // car info
      if (carInfo) {
        carInfoBtn.addEventListener("click", function () {
          carInfo.classList.toggle("hidden");
        });
      }
      // checkboxes
      masterCheckbox.addEventListener('change', function () {
        checkboxes.forEach((checkbox) => {
          checkbox.checked = this.checked;
        });

        calculateSum();
        // added new
        para = 'owner,'+{{owner.id}}+",";
        const allChecked = Array.from(checkboxes).every((checkbox) => checkbox.checked);
        if(allChecked){
          checkboxes.forEach((checkbox) => {
          para += `${checkbox.value.trim()},`;
          myPara = para; 
          // enalbe submitBtn
          submitBtn.disabled = false; 
          submitBtn.classList.remove("cursor-not-allowed");
          submitBtn.classList.add("cursor-pointer");
          });
        }else if(!allChecked){
          para = 'owner,' + {{owner.id}}+","; 
          myPara = para; 
          // disable sbmitBtn
          submitBtn.disabled = true; 
          submitBtn.classList.add("cursor-not-allowed");
          submitBtn.classList.remove("cursor-pointer");
        }
        console.log(para);
      });// end master checkbox

      checkboxes.forEach((checkbox) => {
        checkbox.addEventListener('change', function () {
          calculateSum();
          synchronizeMasterCheckbox();
          // added new 
          if(checkbox.checked){
            para += `${checkbox.value.trim()},`;
            myPara = para; 
          }else{
            para = para.replace(`${checkbox.value.trim()},`, '');
            myPara = para; 
          }
          // disable and enable the submit button
          const atLeastOneChecked = Array.from(checkboxes).some((checkbox) => checkbox.checked);
          if(atLeastOneChecked){
            submitBtn.disabled = false; 
            submitBtn.classList.remove("cursor-not-allowed");
            submitBtn.classList.add("cursor-pointer");
          }else{
            submitBtn.disabled = true; 
            submitBtn.classList.add("cursor-not-allowed");
            submitBtn.classList.remove("cursor-pointer");
          }
        });
      });

      function calculateSum() {
        sum = 0;
        checkboxes.forEach((checkbox) => {

          if (checkbox.checked) {
            const row = checkbox.parentNode.parentNode;
            const value = row.querySelector('td:nth-child(6)').textContent;
            sum += parseInt(value);
          }
        });

        document.querySelector(`#${divId} .total`).textContent = sum;
      }

      function synchronizeMasterCheckbox() {
        const allChecked = Array.from(checkboxes).every((checkbox) => checkbox.checked);
        masterCheckbox.checked = allChecked;
      }
    }

    // end function initializeFinePayment(divId) 
    // call functions

    for (let i = 1; i <= {{num_of_cars}}; i++) {
      initializeFinePayment(`fine${i}`,i);
    }


    // *********************************************************
    // ************** Confirm Delete ****************************
    const confirm_delete_container = document.getElementById('confirm-delete-container');
    function showDeleteNotification() {
      confirm_delete_container.classList.remove("hidden");
    };
    function hideDeleteNotification() {
      confirm_delete_container.classList.add("hidden");
    };

    // stripe js
      // Stripe javascript
  console.log("Sanity check!");

fetch("/strip-config/")
.then((result) => { return result.json(); })
.then((data) => {
  // Initialize Stripe.js
  const stripe = Stripe(data.publicKey);
    // new
  // Event handler
  for(let i = 1; i<= {{num_of_cars}}; i++){
    document.querySelector(`#submitBtn${i}`).addEventListener("click", () => {
      // Get Checkout Session ID
      let new_url = '/create-checkout-session/' + myPara;
      fetch(new_url)
      .then((result) => { return result.json(); })
      .then((data) => {
        console.log(data);
        // Redirect to Stripe Checkout
        return stripe.redirectToCheckout({sessionId: data.sessionId})
      })
      .then((res) => {
        console.log(res);
      });
    });
  }
});

  </script>
  <!-- swiper js CDN-->
  <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
  <!--swiper js  -->
  <script>
    const swiper = new Swiper('.swiper', {
      // Optional parameters

      // If we need pagination
      pagination: {
        el: '.swiper-pagination',
      },

      // Navigation arrows
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },
    });
  </script>

  <script>
    function printPage(){
      window.print()
    }
  </script>
  <script>
  

  </script>
{% endblock jscript %}