{% extends "base.html" %}


{% block content %}
    <!-- PymentBill -->
    <div class="mt-2 md:mt-4 mb-8 flex justify-center">
        <div class="relative pb-8 bg-white text-gray-700 rounded shadow">
          <a href="#"
            class="absolute top-1.5 left-3 text-gray-500 bg-transparent hover:bg-gray-50 hover:text-gray-700 rounded-lg text-sm w-7 h-7 ml-auto inline-flex justify-center items-center">
            <i class="fa-solid fa-arrow-left"></i>
          </a>
          <!-- A4 -->
          <div id="printContent" class="flex flex-col pt-4 pb-8 px-10 text-gray-600 text-[13px]" style="width: 210mm;">
            <!-- head -->
            <div class="flex flex-col items-center gap-y-2 pb-3">
              <div
                class="inline-flex items-center justify-center flex-shrink-0 w-8 h-8 md:w-10 md:h-10 text-green-500 bg-green-100 rounded-full">
                <svg class="w-7 h-7 md:w-8 md:h-8" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                  fill="currentColor" viewBox="0 0 20 20">
                  <path
                    d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z" />
                </svg>
              </div>
              <h1 class="text-center text-[16px] font-semibold text-gray-600">اطلاعات پرداخت</h1>
            </div>
            <!-- info -->
            <div class="flex justify-between px-4 pb-3">
              <div class="flex flex-col gap-1">
                <p>
                  <span class="font-semibold">نمبر اساس:</span>
                  <span class="text-sm tracking-wider mr-1">{{payment.id}}</span>
                </p>
                <p>
                  <span class="font-semibold">پرداخت کننده:</span>
                  {% if payment.owner %}
                  <span class="mr-1">{{payment.owner.first_name}} {{payment.owner.last_name}}</span>
                  {% elif payment.driver %}
                  <span class="mr-1">{{payment.driver.first_name}} {{payment.driver.last_name}}</span>
                  {% endif %}
                </p>
              </div>

              <div class="flex flex-col gap-1">
                <p>
                  <span class="font-semibold">تاریخ:</span>
                  <span class="text-sm tracking-wider mr-1">{{ payment.created }}</span>
                </p>

                <p>
                  <span class="font-semibold">دریافت کننده:</span>
                  {% if payment.online %}
                  <span class="mr-1">آنلاین</span>
                  {% else %}
                  <span class="mr-1">{{ payment.staff.first_name }} {{ payment.staff.last_name }}</span>
                  {% endif %}
                </p>
              </div>
            </div>
            <!-- fineslist -->
            <div class="flex flex-col gap-20 flex-grow border px-4 py-4">
              <div>
                <table class="w-full">
                  <tr class="h-12 text-center text-gray-700 text-[13px] font-semibold border-b border-gray-500">
                    <td scope="row" class="whitespace-nowrap px-2">شماره</td>
                    <td scope="row" class="whitespace-nowrap px-2 text-right pr-24 w-96">جریمه</td>
                    <td scope="row" class="whitespace-nowrap px-2">تاریخ</td>
                    <td scope="row" class="whitespace-nowrap px-2 ">مبلغ</td>
                  </tr>
                  {% for crime in payment.carcrime_set.all %}
                  <tr class="h-12 text-center text-gray-600 border-b border-gray-300">
                    <td class="whitespace-nowrap px-2 text-sm">{{forloop.counter}}</td>
                    <td class="whitespace-nowrap px-2 text-right">{{ crime.crime.title }}</td>
                    <td class="whitespace-nowrap px-2 tracking-wider text-sm">{{ crime.created }}</td>
                    <td class="whitespace-nowrap px-2">
                      <span class="tracking-wider text-sm">{{ crime.price }}</span>
                      <span class="mr-1 text-xs">افغانی</span>
                    </td>
                  </tr>
                  {% endfor %}

                  

                </table>
              </div>
              <div class="flex justify-between px-8 pb-8">
                <div class="flex gap-1">
                  <span class="font-semibold">مبلغ پرداخت:</span>
                  <p>
                    <span class="tracking-wider text-sm">{{ payment.price }}</span>
                    <span class="mr-1 text-xs">افغانی</span>
                  </p>
                </div>
                <p class="font-semibold">امضاء</p>
              </div>
            </div>
          </div>
          <!-- end A4 -->
          <div class="flex justify-center">
            <button type="button"
              class="w-32 h-8  text-white text-[13px] rounded cursor-pointer outline-none bg-blue-500 hover:bg-blue-700 ease-in duration-200">چاپ
              کردن</button>
          </div>
        </div>
      </div>


    </section>
{% endblock content %}

{% block jscript %}
<script>
    function printDiv() {
      var printContent = document.getElementById("printContent");
      var originalContents = document.body.innerHTML;
      document.body.innerHTML = printContent.innerHTML;
      window.print();
      document.body.innerHTML = originalContents;
    }

    var printButton = document.querySelector("button");
    printButton.addEventListener("click", printDiv);
  </script>
{% endblock jscript %}