{% extends 'base.html' %}


{% block content %}
    <h1>Welcome to Traffic Crime Management System</h1>
    {% if user.is_authenticated %}
    <a href="{% url 'accounts:driver-list' %}">See All Drivers</a>
    <a href="{% url 'accounts:staff-list' %}">See All Staff</a><br>
    <a href="{% url 'cars:car-list' %}">See All Cars</a>
    <a href="{% url 'accounts:register-driver' %}">Create user for driver</a><br>
    <a href="{% url 'accounts:create-staff-user' %}">Create user for staff</a><br>
    <a href="{% url 'cars:create-owner' %}">Create Car Owner</a><br>
    <a href="{% url 'cars:create-car' %}">Create new car</a><br>
    <a href="{% url 'cars:owner-list' %}">See list of owners</a>
    <a href="{% url 'accounts:logout' %}">Logout</a>
    {% else %}
    <p>Please <a href="{% url 'accounts:login' %}">Login</a></p>
    {% endif %}
{% endblock content %}