{% extends "base.html" %}



{% block content %}
    <h1>Welcome to Traffic Crime Management System</h1>
    {% if user.is_authenticated %}
    
    <a href="{% url 'cars:jawaz-list' %}">Jawaz List</a>
    <a href="{% url 'register-driver' %}">Create user for driver</a><br>
    <a href="{% url 'create-staff-user' %}">Create user for staff</a><br>
    <a href="{% url 'cars:create-owner' %}">Create Car Owner</a><br>
    <a href="{% url 'cars:create-car' %}">Create new car</a><br>
    <a href="{% url 'cars:owner-list' %}">See list of owners</a><br>
    <hr>
    <a href="{% url 'crimes:create-crime' %}">Create new Crime</a><br>
    <a href="{% url "crimes:crime-list" %}">List of crimes</a><br>
    <a href="{% url "crimes:driver-crime-list" %}">Commited crimes</a><br>
    <a href="{% url "crimes:fine-driver" %}">Fine a Driver</a><br>

    
    {% else %}
    <p>Please <a href="{% url 'login' %}">Login</a></p>
    {% endif %}
{% endblock content %} 

